.heroPage {
    justify-content: center;
    position: relative;
}

@keyframes slide-left-rotate-right {
    from {
        rotate: 0deg;
        translate: 0px 0px;
    }

    25% {
        rotate: 0.9deg;
        translate: -5px 2px;
    }

    60% {
        rotate: 0deg;
        translate: -8px 3px;
    }

    80% {
        rotate: 1.3deg;
        translate: -4px;
    }

    to {
        rotate: 0deg;
        translate: 0px 0px;
    }
}

@keyframes slide-right-rotate-right {
    from {
        rotate: 0deg;
        translate: 0px 0px;
    }

    25% {
        rotate: 1deg;
        translate: 5px 2px;
    }

    60% {
        rotate: 0deg;
        translate: 8px 3px;
    }

    80% {
        rotate: 1.5deg;
        translate: 2px;
    }

    to {
        rotate: 0deg;
        translate: 0px 0px;
    }
}

@keyframes slide-right-rotate-left {
    from {
        rotate: 0deg;
        translate: 0px;
    }

    25% {
        rotate: -1.4deg;
        translate: 5px -2px;
    }

    60% {
        rotate: 0deg;
        translate: 8px -3px;
    }

    80% {
        rotate: -1deg;
        translate: 4px;
    }

    to {
        rotate: 0deg;
        translate: 0px 0px;
    }
}

@keyframes slide-left-rotate-left {
    from {
        rotate: 0deg;
        translate: 0px 0px;
    }

    25% {
        rotate: -1deg;
        translate: -15px -5px;
    }

    60% {
        rotate: 0deg;
        translate: -10px -9px;
    }

    80% {
        rotate: -1.5deg;
        translate: -6px;
    }

    to {
        rotate: 0deg;
        translate: 0px 0px;
    }
}

.jiggleWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.jiggleWrapper > * {
    animation: slide-left-rotate-left 12s linear infinite;
}

.jiggleWrapper > *:nth-child(n) {
    animation-name: slide-right-rotate-right;
}

.jiggleWrapper > *:nth-child(2n) {
    animation-name: slide-right-rotate-left;
}

.jiggleWrapper > *:nth-child(3n) {
    animation-name: slide-left-rotate-right;
}

.jiggleWrapper > *:nth-child(5n) {
    animation-name: slide-left-rotate-left;
}

@keyframes glitch {

    2%,
    64% {
        transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }

    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

.glitchWrapper > * {
    animation: glitch 1s linear infinite;
}

.glitchWrapper > *::before,
.glitchWrapper > *::after {
    content: attr(content);
    position: absolute;
    left: 0;
}

@keyframes glitchTop {

    2%,
    64% {
        transform: translate(2px, -2px);
    }

    4%,
    60% {
        transform: translate(-2px, 2px);
    }

    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

.glitchWrapper > *::before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchBottom {

    2%,
    64% {
        transform: translate(-2px, 0);
    }

    4%,
    60% {
        transform: translate(-2px, 0);
    }

    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}

.glitchWrapper > *::after {
    animation: glitchBottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

.blurredImageWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.leftHeading {
    text-align: left;
    width: 100%;
    max-width: 750px;
    border-bottom: 1px solid var(--bg-color-40);
    padding: 8px 32px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.xxLarge {
    font-size: 2.8rem;
}

.xLarge {
    font-size: 1.8rem;
}

.large {
    font-size: 1.3rem;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}



/* Mobile */
@media (max-width: 900px) {}

@media (max-width: 800px) {
    .xxLarge {
        font-size: 2.4rem;
    }

    .xLarge {
        font-size: 1.5rem;
    }

    .large {
        font-size: 1.2rem;
    }
}

@media (max-width: 750px) {}

@media (max-width: 700px) {}

@media (max-width: 610px) {
    .xxLarge {
        font-size: 1.9rem;
    }

    .xLarge {
        font-size: 1.4rem;
    }

    .large {
        font-size: 1.1rem;
    }
}



@media (max-width: 520px) {
    .xxLarge {
        font-size: 1.7rem;
    }

    .xLarge {
        font-size: 1.2rem;
    }

    .large {
        font-size: 1rem;
    }


}

@media (max-width: 470px) {
    .xxLarge {
        font-size: 1.6rem;
    }

    .xLarge {
        font-size: 1.1rem;
    }

    .large {
        font-size: 0.8rem;
    }

    .jiggleWrapper {
        gap: .5rem;
    }
}

@media (max-width: 400px) {
    .xxLarge {
        font-size: 1.5rem;
    }

    .xLarge {
        font-size: 1rem;
    }

    .large {
        font-size: 0.7rem;
    }
}

@media (max-width: 370px) {
    .xxLarge {
        font-size: 1.3rem;
    }

    .xLarge {
        font-size: .9rem;
    }

    .large {
        font-size: .7rem;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 601px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}