/** @format */

.markdownSection {
    --text-width: 750px;
    display: flex;
    flex-direction: column;
    max-width: var(--text-width);
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 8px 8px 64px;
}

.markdownSection h1 {
    margin: 1.2rem 0px;
}

.markdownSection h2 {
    margin: 1rem 0px;
}

.markdownSection h3 {
    margin: 0.9rem 0px;
}

.markdownSection h4 {
    margin: 0.75rem 0px;
}

.markdownSection h5 {
    margin: 0.65rem 0px;
}

.markdownSection h6 {
    margin: 0.6rem 0px;
}

.markdownSection table {
    margin: 1rem 0px;
    border-spacing: 4px;
    /* width: fit-content; */
}

.markdownSection :is(th, td) {
    background-color: var(--bg-color-20);
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 4px;
}

.markdownSection th {
    background-color: var(--color-accent-00);
}

/*
.markdownSection td:first-child {
    text-align: center;
    min-width: 100px;
}

.markdownSection td:not(:first-child) {
    min-width: 300px;
} */

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}



/* Mobile */
@media (max-width: 800px) {

    .markdownSection {
        padding: 0px 24px 18px 24px;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 601px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}