/** @format */

.sideNav {
  --toggle-width: 24px;
  --toggle-height: 24px;
  --button-padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  font-size: 1.5rem;
  line-height: 1;
  width: var(--toggle-width);
  height: var(--toggle-height);
  border-radius: 50%;
  cursor: pointer;
  padding: var(--button-padding);
  transition: transform 250ms ease, gap 250ms ease, background-color 250ms ease;
}

.bar {
  display: block;
  background-color: var(--bg-color-90);
  height: 2px;
  width: calc(100% - var(--button-padding));
  border-radius: 3px;
  transition: border-radius 250ms ease, width 250ms ease, height 250ms ease;
}

.isActive .bar {
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

.isActive {
  transform: rotate(90deg);
  gap: 4px;
}

.isDisabled {
  transform: unset;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .sideNav:hover {
    background: var(--bg-color-15);
    outline: 1px solid var(--bg-color-40);
  }
}

@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}