/** @format */

.portfolioPage hr {
    border-color: var(--bg-color-40);
}

.heroPage,
.aboutPage {
    justify-content: center;
    position: relative;
}


.heroPage,
.aboutPage,
.portfolioPage {
    scroll-snap-align: start;
}

.portfolioPage {
    background-color: var(--bg-color-00);
    position: relative;
    display: flex;
    justify-content: center;
}

.portfolioPage h1 {
    margin-top: 42px;
    text-align: left;
    width: 100%;
    max-width: 750px;
    padding-left: 8px;
}

.portfolioCardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
    margin: 48px 0px 128px 0px;
    z-index: 1;
}

.aboutPageBG {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: min(950px, 90vw);
    min-height: min(750px, 75vh);
    border-radius: var(--border-radius);
    border: 1px solid var(--bg-color-40);
    background-color: var(--bg-color-translucent-05);
    box-shadow: var(--shadowElevation_4);
    margin-top: min(175px, 15vh);
    margin-bottom: min(50px, 10vh);
}

.aboutPageInfo {
    width: 45%;
    padding: 64px 32px 32px 32px;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-right: 1px solid var(--bg-color-40);
    background-color: var(--bg-color-20);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.aboutPage_firstBreak {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutPage_secondBreak {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutPage_thirdBreak,
.aboutPage_fourthBreak,
.aboutPageSkillWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutPage_thirdBreak,
.aboutPage_fourthBreak,
.aboutPage_secondBreak {
    gap: 24px;
}

.aboutPageProfilePic {
    border-radius: 50%;
    outline: 1px solid var(--bg-color-40);
    box-shadow: var(--shadowElevation_4);
    margin-bottom: 32px;
}

.aboutPageProfileName {
    border-bottom: 2px solid var(--bg-color-40);
    width: 100%;
    padding-bottom: 4px;
    padding-left: 16px;
    margin-bottom: 16px;
}

.aboutPageProfileSkillText {
    text-align: left;
    width: 90%;
    padding-left: 16px;
}

.aboutPageProfileSkillBar {
    border: 1px solid var(--bg-color-40);
    border-radius: 8px;
    width: 90%;
    height: 10px;
}

.aboutPageProfileSkillBar::-webkit-progress-value {
    background: var(--color-accent-10);
    border-radius: 8px;
}

.aboutPageProfileSkillBar::-webkit-progress-bar {
    background: var(--bg-color-00);
    border: 1px solid var(--bg-color-40);
    border-radius: 8px;
}

.aboutPageText {
    width: 60%;
    padding: 32px;
}

@keyframes slide-out-dotted {
    from {
        --circle-pos-w: calc(calc(100vw - 6.5rem + var(--cross-width)) / 2);
        --circle-pos-h: calc(calc(100vh - 6.5rem + var(--cross-width)) / 2);
        background-size: 6.5rem 6.5rem;
        background-position:
            var(--circle-pos-w) var(--circle-pos-h),
            var(--cross-pos-w) var(--cross-pos-h),
            var(--cross-pos-w) var(--cross-pos-h);
    }

    25% {
        background-size: 7rem 7rem;
        background-position:
            calc(calc(80vw - 7rem + var(--cross-width)) / 2) calc(calc(70vh - 7rem + var(--cross-width)) / 2),
            calc(calc(80vw + var(--cross-arm-width)) / 2) calc(calc(70vh + var(--cross-arm-width)) / 2),
            calc(calc(80vw + var(--cross-arm-width)) / 2) calc(calc(70vh + var(--cross-arm-width)) / 2);
    }

    60% {
        background-size: 7.5rem 7.5rem;
        background-position:
            calc(calc(90vw - 7.5rem + var(--cross-width)) / 2) calc(calc(80vh - 7.5rem + var(--cross-width)) / 2),
            calc(calc(90vw + var(--cross-arm-width)) / 2) calc(calc(80vh + var(--cross-arm-width)) / 2),
            calc(calc(90vw + var(--cross-arm-width)) / 2) calc(calc(80vh + var(--cross-arm-width)) / 2);
    }

    80% {
        background-size: 7rem 7rem;
        background-position:
            calc(calc(80vw - 7rem + var(--cross-width)) / 2) calc(calc(90vh - 7rem + var(--cross-width)) / 2),
            calc(calc(80vw + var(--cross-arm-width)) / 2) calc(calc(90vh + var(--cross-arm-width)) / 2),
            calc(calc(80vw + var(--cross-arm-width)) / 2) calc(calc(90vh + var(--cross-arm-width)) / 2);
    }

    to {
        --circle-pos-w: calc(calc(100vw - 6.5rem + var(--cross-width)) / 2);
        --circle-pos-h: calc(calc(100vh - 6.5rem + var(--cross-width)) / 2);
        background-size: 6.5rem 6.5rem;
        background-position:
            var(--circle-pos-w) var(--circle-pos-h),
            var(--cross-pos-w) var(--cross-pos-h),
            var(--cross-pos-w) var(--cross-pos-h);
    }


    /* to {
      background-position: calc(var(--cross-position) - 100vh) calc(var(--cross-position) - 100vw), calc(-100vh - var(--cross-arm-width)) calc(-100vw - var(--cross-arm-width)), calc(-100vh - var(--cross-arm-width)) calc(-100vw - var(--cross-arm-width));
    } */
}

.dotted {
    --cross-arm-width: .09rem;
    --cross-width: calc(var(--cross-arm-width)*2);
    --spacing: 6.5rem;

    --circle-pos-w: calc(calc(100vw - var(--spacing) + var(--cross-width)) / 2);
    --circle-pos-h: calc(calc(100vh - var(--spacing) + var(--cross-width)) / 2);

    --cross-pos-w: calc(calc(100vw + var(--cross-arm-width)) / 2);
    --cross-pos-h: calc(calc(100vh + var(--cross-arm-width)) / 2);

    background-image:
        radial-gradient(circle, transparent var(--cross-width), var(--bg-color-05) var(--cross-width)),
        linear-gradient(var(--bg-color-70) var(--cross-arm-width), transparent var(--cross-arm-width)),
        linear-gradient(90deg, var(--bg-color-70) var(--cross-arm-width), transparent var(--cross-arm-width));
    background-size: var(--spacing) var(--spacing);
    background-position:
        var(--circle-pos-w) var(--circle-pos-h),
        var(--cross-pos-w) var(--cross-pos-h),
        var(--cross-pos-w) var(--cross-pos-h);
    background-repeat: repeat;
    animation: slide-out-dotted 60s linear infinite;
}

@keyframes slide-left-rotate-right {
    from {
        rotate: 0deg;
        translate: 0px 0px;
    }

    25% {
        rotate: 0.9deg;
        translate: -5px 2px;
    }

    60% {
        rotate: 0deg;
        translate: -8px 3px;
    }

    80% {
        rotate: 1.3deg;
        translate: -4px;
    }

    to {
        rotate: 0deg;
        translate: 0px 0px;
    }
}

@keyframes slide-right-rotate-right {
    from {
        rotate: 0deg;
        translate: 0px 0px;
    }

    25% {
        rotate: 1deg;
        translate: 5px 2px;
    }

    60% {
        rotate: 0deg;
        translate: 8px 3px;
    }

    80% {
        rotate: 1.5deg;
        translate: 2px;
    }

    to {
        rotate: 0deg;
        translate: 0px 0px;
    }
}

@keyframes slide-right-rotate-left {
    from {
        rotate: 0deg;
        translate: 0px;
    }

    25% {
        rotate: -1.4deg;
        translate: 5px -2px;
    }

    60% {
        rotate: 0deg;
        translate: 8px -3px;
    }

    80% {
        rotate: -1deg;
        translate: 4px;
    }

    to {
        rotate: 0deg;
        translate: 0px 0px;
    }
}

@keyframes slide-left-rotate-left {
    from {
        rotate: 0deg;
        translate: 0px 0px;
    }

    25% {
        rotate: -1deg;
        translate: -15px -5px;
    }

    60% {
        rotate: 0deg;
        translate: -10px -9px;
    }

    80% {
        rotate: -1.5deg;
        translate: -6px;
    }

    to {
        rotate: 0deg;
        translate: 0px 0px;
    }
}

.jiggleWrapper > * {
    animation: slide-left-rotate-left 12s linear infinite;
}

.jiggleWrapper > *:nth-child(n) {
    animation-name: slide-right-rotate-right;
}

.jiggleWrapper > *:nth-child(2n) {
    animation-name: slide-right-rotate-left;
}

.jiggleWrapper > *:nth-child(3n) {
    animation-name: slide-left-rotate-right;
}

.jiggleWrapper > *:nth-child(5n) {
    animation-name: slide-left-rotate-left;
}

@keyframes glitch {

    2%,
    64% {
        transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }

    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

.glitchWrapper > * {
    animation: glitch 1s linear infinite;
}

.glitchWrapper > *::before,
.glitchWrapper > *::after {
    content: attr(content);
    position: absolute;
    left: 0;
}

@keyframes glitchTop {

    2%,
    64% {
        transform: translate(2px, -2px);
    }

    4%,
    60% {
        transform: translate(-2px, 2px);
    }

    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

.glitchWrapper > *::before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchBottom {

    2%,
    64% {
        transform: translate(-2px, 0);
    }

    4%,
    60% {
        transform: translate(-2px, 0);
    }

    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}

.glitchWrapper > *::after {
    animation: glitchBottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}


.blurredImageWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.leftHeading {
    text-align: left;
    width: 100%;
    max-width: 750px;
    border-bottom: 1px solid var(--bg-color-40);
    padding: 8px 32px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.xxLarge {
    font-size: 2.8rem;
}

.xLarge {
    font-size: 1.8rem;
}

.large {
    font-size: 1.3rem;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}



/* Mobile */
@media (max-width: 900px) {
    .aboutPage {
        height: 100vh;
    }

    .aboutPageBG {
        border-radius: 0;
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        border: none;
        border-top: 1px solid var(--bg-color-40);
    }
}

@media (max-width: 800px) {
    .portfolioPage h1 {
        font-size: x-large;
    }

    .portfolioPage h2 {
        font-size: large;
    }

    .portfolioCardWrapper {
        gap: 22px;
        margin: 8px 0px 128px 0px;
    }

    .xxLarge {
        font-size: 2.4rem;
    }

    .xLarge {
        font-size: 1.5rem;
    }

    .large {
        font-size: 1.2rem;
    }
}

@media (max-width: 750px) {
    .portfolioPage h1 {
        margin-top: 22px;
        padding-left: 16px;
        font-size: large;
    }

    .portfolioPage h2 {
        font-size: medium;
    }

    .portfolioCardWrapper {
        gap: 22px;
        margin: 8px 0px 128px 0px;
    }
}

@media (max-width: 700px) {
    .aboutPage {
        height: auto;
    }

    .aboutPageBG {
        flex-direction: column;
        margin-top: 0;
    }

    .aboutPageInfo {
        width: 100%;
        border-radius: 0;
        border-right: none;
        padding: 0;
    }

    .aboutPage_firstBreak {
        height: 100%;
        width: 100%;
        padding: 96px 32px 0 32px;
    }

    .aboutPage_secondBreak {
        height: 100%;
        padding: 0px 16px 42px 16px;
        flex-direction: row;
        justify-content: unset;
        align-items: unset;
        gap: unset;
    }

    .aboutPage_thirdBreak,
    .aboutPage_fourthBreak {
        height: 100%;
        width: 100%;
        padding: 0px 0px 24px 0px;
    }

    .aboutPage_thirdBreak {
        border-right: 1px solid var(--bg-color-40);
    }

    .aboutPageText {
        width: 100%;
        margin-bottom: 32px;
    }

    .aboutPageProfileName {
        border: none;
        padding-left: 0;
        text-align: center;
    }


}

@media (max-width: 610px) {

    .xxLarge {
        font-size: 1.9rem;
    }

    .xLarge {
        font-size: 1.4rem;
    }

    .large {
        font-size: 1.1rem;
    }
}



@media (max-width: 520px) {
    .portfolioPage h1 {
        font-size: medium;
    }

    .portfolioPage h2 {
        font-size: small;
    }

    .aboutPageProfileName {
        font-size: large;
    }

    .aboutPageProfileSkillText {
        font-size: small;
    }

    .portfolioCardWrapper {
        gap: 16px;
        margin: 8px 0px 128px 0px;
    }

    .aboutPageText {
        font-size: small;
    }

    .aboutPageText h1 {
        font-size: medium;
    }

    .xxLarge {
        font-size: 1.7rem;
    }

    .xLarge {
        font-size: 1.2rem;
    }

    .large {
        font-size: 1rem;
    }
}

@media (max-width: 470px) {
    .xxLarge {
        font-size: 1.6rem;
    }

    .xLarge {
        font-size: 1.1rem;
    }

    .large {
        font-size: 0.8rem;
    }
}

@media (max-width: 400px) {
    .xxLarge {
        font-size: 1.5rem;
    }

    .xLarge {
        font-size: 1rem;
    }

    .large {
        font-size: 0.7rem;
    }
}

@media (max-width: 370px) {
    .xxLarge {
        font-size: 1.3rem;
    }

    .xLarge {
        font-size: .9rem;
    }

    .large {
        font-size: .7rem;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 601px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}