.projectIndex {
    padding-bottom: 64px;
}

.projectIndex :is(h1, h2) {
    text-align: left;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}

.projectIndex h1 {
    text-align: center;
}

.projectIndex h2 {
    margin-top: 5rem;

    padding-bottom: 4px;
    border-bottom: 1px solid var(--bg-color-40);
}

.projectLanguageIndex > * > * > ul li::marker {
    content: "->";
}

.projectLanguageIndex > * > *:nth-child(2) {
    width: 50%;
    margin: 0 25%;
    align-self: center;
    justify-self: center;
    padding-left: 50px;
}

.projectLanguageIndex > * > * > ul li > a {
    margin-left: 8px;
}



.entry {
    margin-left: 5%;
    margin-bottom: 24px;
    padding: 32px;
    width: 90%;
    gap: 8px;
}

.entryLink {
    width: fit-content;
    overflow-wrap: break-word;
}

.entryInfo {
    font-size: smaller;
}


@media (max-width: 600px) {
    .projectIndex h1 {
        font-size: x-large;
    }

    .projectIndex h2 {
        font-size: larger;
    }

    .entry {
        padding: 16px;
    }

    .entryLink {
        font-size: small;
    }

    .entryInfo {
        font-size: x-small;
    }
}

@media (max-width: 400px) {
    .projectIndex h1 {
        font-size: larger;
    }

    .projectIndex h2 {
        font-size: large;
    }

    .projectIndex :is(h1, h2) {
        margin-top: 2rem;
        margin-bottom: 1.2rem;
    }
}