/** @format */

.heroPage {
    justify-content: center;
}

.slideInWrapper {
    overflow-x: hidden;
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.slideInWrapper > p.slideInLeft {
    transform: translateX(calc(100vw / -2 - min(800px, 100%) / -2));
    transform-origin: left;
    animation-name: slide-in-left;
    animation-timing-function: ease-in;
}

.slideInWrapper > p.center.slideInLeft {
    transform: translateX(0);
    transform-origin: left;
    animation-name: slide-in-left;
    animation-timing-function: ease-in;
}

.slideInWrapper > p.slideInRight {
    transform: translateX(calc(calc(calc(100vw - min(800px, 100%)) / 2)));
    transform-origin: right;
    animation-name: slide-in-right;
    animation-timing-function: ease-in;
}

.slideInWrapper > p:is(.slideInRight, .slideInLeft):nth-child(n) {
    animation-duration: 1050ms;
}

.slideInWrapper > p:is(.slideInRight, .slideInLeft):nth-child(3n) {
    animation-duration: 900ms;
}

.slideInWrapper > p:is(.slideInRight, .slideInLeft):nth-child(2n) {
    animation-duration: 1000ms;
}

.slideInWrapper > p:is(.slideInRight, .slideInLeft):nth-child(5n) {
    animation-duration: 980ms;
}

.slideInWrapper > p:is(.slideInRight, .slideInLeft):nth-child(6n) {
    animation-duration: 1060ms;
}

.slideInWrapper > p:is(.slideInRight, .slideInLeft):nth-child(4n) {
    animation-duration: 930ms;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(calc(100vw * -1));
        opacity: 0;
    }

    to {
        transform: translateX(calc(calc(100vw - min(700px, 100%)) / -2));
        opacity: 1;
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(calc(100vw * 1));
        opacity: 0;
    }

    to {
        transform: translateX(calc(calc(100vw - min(700px, 100%)) / 2));
        opacity: 1;
    }

}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}