/** @format */

.heroPage,
.aboutPage {
    justify-content: center;
    position: relative;
}


.heroPage,
.aboutPage,
.portfolioPage {
    scroll-snap-align: start;
}

.aboutPageBG {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    border-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-top: 1px solid var(--bg-color-30);
    border-right: 1px solid var(--bg-color-30);
    border-left: 1px solid var(--bg-color-30);
    background-color: var(--bg-color-translucent-05);
    box-shadow: var(--shadowElevation_4);
    margin-top: 175px;
    margin-bottom: 50px;
}

@keyframes slide-out-dotted {
    from {
        --circle-pos-w: calc(calc(100vw - 6.5rem + var(--cross-width)) / 2);
        --circle-pos-h: calc(calc(100vh - 6.5rem + var(--cross-width)) / 2);
        background-size: 6.5rem 6.5rem;
        background-position:
            var(--circle-pos-w) var(--circle-pos-h),
            var(--cross-pos-w) var(--cross-pos-h),
            var(--cross-pos-w) var(--cross-pos-h);
    }

    25% {
        background-size: 7rem 7rem;
        background-position:
            calc(calc(80vw - 7rem + var(--cross-width)) / 2) calc(calc(70vh - 7rem + var(--cross-width)) / 2),
            calc(calc(80vw + var(--cross-arm-width)) / 2) calc(calc(70vh + var(--cross-arm-width)) / 2),
            calc(calc(80vw + var(--cross-arm-width)) / 2) calc(calc(70vh + var(--cross-arm-width)) / 2);
    }

    60% {
        background-size: 7.5rem 7.5rem;
        background-position:
            calc(calc(90vw - 7.5rem + var(--cross-width)) / 2) calc(calc(80vh - 7.5rem + var(--cross-width)) / 2),
            calc(calc(90vw + var(--cross-arm-width)) / 2) calc(calc(80vh + var(--cross-arm-width)) / 2),
            calc(calc(90vw + var(--cross-arm-width)) / 2) calc(calc(80vh + var(--cross-arm-width)) / 2);
    }

    80% {
        background-size: 7rem 7rem;
        background-position:
            calc(calc(80vw - 7rem + var(--cross-width)) / 2) calc(calc(90vh - 7rem + var(--cross-width)) / 2),
            calc(calc(80vw + var(--cross-arm-width)) / 2) calc(calc(90vh + var(--cross-arm-width)) / 2),
            calc(calc(80vw + var(--cross-arm-width)) / 2) calc(calc(90vh + var(--cross-arm-width)) / 2);
    }

    to {
        --circle-pos-w: calc(calc(100vw - 6.5rem + var(--cross-width)) / 2);
        --circle-pos-h: calc(calc(100vh - 6.5rem + var(--cross-width)) / 2);
        background-size: 6.5rem 6.5rem;
        background-position:
            var(--circle-pos-w) var(--circle-pos-h),
            var(--cross-pos-w) var(--cross-pos-h),
            var(--cross-pos-w) var(--cross-pos-h);
    }


    /* to {
      background-position: calc(var(--cross-position) - 100vh) calc(var(--cross-position) - 100vw), calc(-100vh - var(--cross-arm-width)) calc(-100vw - var(--cross-arm-width)), calc(-100vh - var(--cross-arm-width)) calc(-100vw - var(--cross-arm-width));
    } */
}


.dotted {
    --cross-arm-width: .09rem;
    --cross-width: calc(var(--cross-arm-width)*2);
    --spacing: 6.5rem;

    --circle-pos-w: calc(calc(100vw - var(--spacing) + var(--cross-width)) / 2);
    --circle-pos-h: calc(calc(100vh - var(--spacing) + var(--cross-width)) / 2);

    --cross-pos-w: calc(calc(100vw + var(--cross-arm-width)) / 2);
    --cross-pos-h: calc(calc(100vh + var(--cross-arm-width)) / 2);

    background-image:
        radial-gradient(circle, transparent var(--cross-width), var(--bg-color-05) var(--cross-width)),
        linear-gradient(var(--bg-color-70) var(--cross-arm-width), transparent var(--cross-arm-width)),
        linear-gradient(90deg, var(--bg-color-70) var(--cross-arm-width), transparent var(--cross-arm-width));
    background-size: var(--spacing) var(--spacing);
    background-position:
        var(--circle-pos-w) var(--circle-pos-h),
        var(--cross-pos-w) var(--cross-pos-h),
        var(--cross-pos-w) var(--cross-pos-h);
    background-repeat: repeat;
    animation: slide-out-dotted 60s linear infinite;
}

.portfolioPage {
    background-color: var(--bg-color-00);
    position: relative;
    display: flex;
    justify-content: center;
}
.portfolioPage h1 {
    margin-top: 42px;
    text-align: left;
    width: 100%;
    max-width: 750px;
    padding-left: 8px;
}

.portfolioCardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
    margin: 48px 0px 128px 0px;
    z-index: 1;
}


.blurredImageWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.leftHeading {
    text-align: left;
    width: 100%;
    max-width: 750px;
    border-bottom: 1px solid var(--bg-color-40);
    padding: 8px 32px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.xxLarge {
    font-size: 2.8rem;
}

.xLarge {
    font-size: 1.8rem;
}

.large {
    font-size: 1.3rem;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}



/* Mobile */


@media (max-width: 800px) {
    .portfolioPage h1{
        font-size: x-large;
    }

    .portfolioPage h2{
        font-size: large;
    }

    .portfolioCardWrapper {
        gap: 22px;
        margin: 8px 0px 128px 0px;
    }

    .xxLarge {
        font-size: 2.4rem;
    }

    .xLarge {
        font-size: 1.5rem;
    }

    .large {
        font-size: 1.2rem;
    }
}

@media (max-width: 750px) {
    .portfolioPage h1{
        margin-top: 22px;
        padding-left: 16px;
        font-size: large;
    }

    .portfolioPage h2{
        font-size: medium;
    }

    .portfolioCardWrapper {
        gap: 22px;
        margin: 8px 0px 128px 0px;
    }
}

@media (max-width: 610px) {

    .xxLarge {
        font-size: 1.9rem;
    }

    .xLarge {
        font-size: 1.4rem;
    }

    .large {
        font-size: 1.1rem;
    }
}



@media (max-width: 520px) {
    .portfolioPage h1{
        font-size: medium;
    }

    .portfolioPage h2{
        font-size: small;
    }

    .portfolioCardWrapper {
        gap: 16px;
        margin: 8px 0px 128px 0px;
    }

    .aboutPageText{
        font-size: small;
    }

    .aboutPageText h1{
        font-size: medium;
    }

    .xxLarge {
        font-size: 1.7rem;
    }

    .xLarge {
        font-size: 1.2rem;
    }

    .large {
        font-size: 1rem;
    }
}

@media (max-width: 470px) {
    .xxLarge {
        font-size: 1.6rem;
    }

    .xLarge {
        font-size: 1.1rem;
    }

    .large {
        font-size: 0.8rem;
    }
}

@media (max-width: 400px) {
    .xxLarge {
        font-size: 1.5rem;
    }

    .xLarge {
        font-size: 1rem;
    }

    .large {
        font-size: 0.7rem;
    }
}

@media (max-width: 370px) {
    .xxLarge {
        font-size: 1.3rem;
    }

    .xLarge {
        font-size: .9rem;
    }

    .large {
        font-size: .7rem;
    }
}

@media (max-width: 1000px) {
    .aboutPageBGColor {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 100%;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 601px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}