/** @format */

.text {
  --text-width: 800px;
  max-width: var(--text-width);
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 0px 8px;
}

.xxLarge {
  font-size: 2.8rem;
}

.xLarge {
  font-size: 1.8rem;
}

.large {
  font-size: 1.3rem;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 600px) {
  .xxLarge {
    font-size: 2.6rem;
  }

  .xLarge {
    font-size: 1.6rem;
  }

  .large {
    font-size: 1.1rem;
  }
}

@media (max-width: 600px) {
  .xxLarge {
    font-size: 1.8rem;
  }

  .xLarge {
    font-size: 1.2rem;
  }

  .large {
    font-size: 1.1rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 601px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}