/** @format */


.portfolioCard {
  max-width: clamp(600px, 100%, 900px);
  height: fit-content;

  display: flex;
  flex-direction: row;
  padding: 16px;

  gap: 16px;
  line-height: 1.5rem;
}

.portfolioCardImg {
  width: calc(60% - 16px);
  aspect-ratio: 16/9;
  border-radius: var(--border-radius);
  outline: 1px solid var(--bg-color-40);
  position: relative;
}

.portfolioCardImg > * {
  border-radius: var(--border-radius);
  box-shadow: var(--shadowElevation_5);
}

.portfolioCardText {
  padding: 0;
  max-width: calc(40% - 16px);
}


@media (max-width: 600px) {

  .portfolioCard {
    width: 95%;
  }

  .portfolioCardText > h4 {
    text-align: center;
    font-size: medium;
  }

  .portfolioCard {
    flex-direction: column;
  }

  .portfolioCardImg {
    width: 100%;
  }

  .portfolioCardText {
    max-width: 100%;
    font-size: medium;
  }
}

@media (max-width: 520px) {

  .portfolioCard {
    width: 100%;
  }

  .portfolioCardText > h4 {
    font-size: small;
  }


  .portfolioCardText {
    font-size: small;
  }
}