.layoutWrapper {
    --sideBarWidth: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
}

.sideBar {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: var(--sideBarWidth);
    background-color: var(--bg-color-15);
    border-right: 1px solid var(--bg-color-40);
    padding: 32px 0 16px;
}

.layoutContent {
    width: 100%;
    height: 100vh;
    margin-left: var(--sideBarWidth);
    overflow: auto;
}

.sideBarBottom,
.sideBarTop {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.functionButton {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.functionButton:disabled {
    color: var(--bg-color-60);
    background-color: var(--bg-color-05);
    filter: grayscale(1);
}

.functionButton:hover:disabled {
    color: var(--bg-color-60);
    background-color: var(--bg-color-05);
    outline-color: var(--bg-color-30);
    cursor: default;
}

.sideBarBottom > hr {
    width: 90%;
}

.sideBarUserButton {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0;
}

.isCurrentWindow,
.isCurrentWindow:hover,
.isCurrentWindow:focus-within {
    border-bottom: 2px solid var(--color-accent-00);
}