/** @format */

@keyframes slide-in {
  from {
    transform: translateY(calc(var(--header-height) * -1));
  }

  to {
    transform: translateY(0px);
  }

}

@keyframes slide-out {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(calc(var(--header-height) * -1));
  }

}

.header {
  height: var(--header-height);
  width: 100vw;
  background-color: var(--bg-color-05);
  padding: 0px 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 20;
  backdrop-filter: blur(2px);
  transform: translateY(0px);
  border-bottom: 1px solid transparent;
  transition: background-color 400ms ease, opacity 400ms ease, border-color 400ms ease;
}

.header.isSolid {
  background-color: var(--bg-color-15) !important;
  border-color: var(--bg-color-40);
}

.header.isVisible {
  background-color: var(--bg-color-15);
  transform: translateY(0px);
  animation: slide-in 400ms ease;
}

.header.isHidden {
  transform: translateY(calc(var(--header-height) * -1));
  animation: slide-out 400ms ease;
}

.sideNavigationNegativeSpace {
  position: absolute;
  top: var(--header-height);
  left: 0px;
  width: calc(100vw - min(90%, var(--sideNav-width)));
  height: 100vh;
  transform: translateX(calc((100vw - min(90%, var(--sideNav-width))) * -1));
  transform-origin: left;
  transition: transform 300ms ease;
}

.sideNavigationNegativeSpace.isWrapperActive {
  transform: translateX(min(90%, var(--sideNav-width)));
}

.headerLeft {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 600px) {

  .header {
    background-color: var(--bg-color-15);
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 601px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}